@model IEnumerable<saborearacores.pt.Models.Restaurant>

@{
    ViewBag.Title = "Restaurantes";
}

<h2>Restaurantes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            NameOf
        </th>
        <th>
            Address
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @item.NameOf
        </td>
        <td>
            @item.Address
        </td>
    </tr>
}

</table>

